.mk-grid,
.mk-inner-grid {
    max-width: 1130px;
}

.theme-page-wrapper.right-layout .theme-content,
.theme-page-wrapper.left-layout .theme-content {
    width: 70%;
}

.theme-page-wrapper #mk-sidebar.mk-builtin {
    width: 30%;
}

.mk-boxed-enabled,
.mk-boxed-enabled #mk-header.sticky-header,
.mk-boxed-enabled #mk-header.transparent-header-sticky,
.mk-boxed-enabled .mk-secondary-header {
    max-width: 1190px;
}

@media handheld,
only screen and (max-width: 1130px) {
    #sub-footer .item-holder {
        margin: 0 20px;
    }
}

body,
.theme-main-wrapper {
    background-color: #ffffff;
    background-position: right bottom;
    background-attachment: scroll;
    background-repeat: repeat;
}

.mk-side-dashboard {
    background-color: #b0b0b0;
}

#mk-header,
.mk-secondary-header {
    background-color: rgba(176, 176, 176, 0.85);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    ;
}

.mk-header-toolbar {
    background-color: #eeeeee;
    background-position: right bottom;
    background-attachment: scroll;
    background-repeat: repeat;
    ;
    ;
}

.sticky-header-padding {
    background-color: rgba(176, 176, 176, 0.85);
}

#mk-header.transparent-header-sticky,
#mk-header.sticky-header {}

.transparent-header.light-header-skin,
.transparent-header.dark-header-skin {
    border-top: none !important;
    background: none !important;
}

#mk-page-title .mk-page-title-bg {
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    border-bottom: 1px solid #f9f9f9;
    ;
}

#theme-page {
    background-color: #ffffff;
    background-position: center top;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

#mk-footer {
    background-color: #b0b0b0;
    background-position: right bottom;
    background-attachment: scroll;
    background-repeat: repeat;
}

#sub-footer {
    background-color: #b0b0b0;
}

#mk-page-title {
    padding: 40px 0;
}

#mk-page-title .mk-page-heading {
    font-size: 55px;
    color: #000000;
    ;
    ;
}

#mk-breadcrumbs {
    line-height: 55px;
}

.widgettitle {
    font-size: 13px;
}

.widgettitle:after {}

.mk-side-dashboard .widgettitle,
.mk-side-dashboard .widgettitle a {
    color: #000000;
}

.mk-side-dashboard,
.mk-side-dashboard p {
    color: #000000;
}

.mk-side-dashboard a {
    color: #bb932f;
}

.mk-side-dashboard a:hover {
    color: #e2b538;
}

#mk-sidebar .widgettitle,
#mk-sidebar .widgettitle a {
    color: #000000;
}

#mk-sidebar,
#mk-sidebar p {
    color: #000000;
}

#mk-sidebar a {
    color: #bb932f;
}

#mk-sidebar a:hover {
    color: #e2b538;
}

#mk-footer .widgettitle,
#mk-footer .widgettitle a {
    color: #ffffff;
}

#mk-footer,
#mk-footer p {
    color: #ffffff;
}

#mk-footer a {
    color: #ffffff;
}

#mk-footer a:hover {
    color: #bb932f;
}

.mk-footer-copyright,
.mk-footer-copyright a {
    color: #ffffff !important;
}

.mk-footer-social a {
    color: #ffffff !important;
}

.mk-footer-social a:hover {
    color: #bb932f!important;
}

body {
    line-height: 20px;
    font-family: Open Sans;
    font-size: 13px;
    color: #000000;
}

p {
    font-size: 18px;
    color: #000000;
    line-height: 24px;
}

a {
    color: #bb932f;
}

a:hover {
    color: #e2b538;
}

#theme-page h1,
#theme-page h2,
#theme-page h3,
#theme-page h4,
#theme-page h5,
#theme-page h6 {
    font-weight: ;
    color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

input,
button,
textarea {
    font-family: Open Sans;
}

.header-searchform-input input[type=text] {
    background-color: rgba(176, 176, 176, 0.85);
}

.theme-main-wrapper:not(.vertical-header) .sticky-header.sticky-header-padding {
    padding-top: 80px;
}

.bottom-header-padding.none-sticky-header {
    padding-top: 80px;
}

.bottom-header-padding.none-sticky-header {
    padding-top: 80px;
}

.bottom-header-padding.sticky-header {
    padding-top: 80px;
}

#mk-header:not(.header-structure-vertical) #mk-main-navigation > ul > li.menu-item,
#mk-header:not(.header-structure-vertical) #mk-main-navigation > ul > li.menu-item > a,
#mk-header:not(.header-structure-vertical) .mk-header-search,
#mk-header:not(.header-structure-vertical) .mk-header-search a,
#mk-header:not(.header-structure-vertical) .mk-header-wpml-ls,
#mk-header:not(.header-structure-vertical) .mk-header-wpml-ls a,
#mk-header:not(.header-structure-vertical) .mk-cart-link,
#mk-header:not(.header-structure-vertical) .mk-responsive-cart-link,
#mk-header:not(.header-structure-vertical) .dashboard-trigger,
#mk-header:not(.header-structure-vertical) .responsive-nav-link,
#mk-header:not(.header-structure-vertical) .mk-header-social a,
#mk-header:not(.header-structure-vertical) .mk-margin-header-burger {
    height: 80px;
    line-height: 80px;
}

#mk-header:not(.header-structure-vertical).sticky-trigger-header #mk-main-navigation > ul > li.menu-item,
#mk-header:not(.header-structure-vertical).sticky-trigger-header #mk-main-navigation > ul > li.menu-item > a,
#mk-header:not(.header-structure-vertical).sticky-trigger-header .mk-header-search,
#mk-header:not(.header-structure-vertical).sticky-trigger-header .mk-header-search a,
#mk-header:not(.header-structure-vertical).sticky-trigger-header .mk-cart-link,
#mk-header:not(.header-structure-vertical).sticky-trigger-header .mk-responsive-cart-link,
#mk-header:not(.header-structure-vertical).sticky-trigger-header .dashboard-trigger,
#mk-header:not(.header-structure-vertical).sticky-trigger-header .responsive-nav-link,
#mk-header:not(.header-structure-vertical).sticky-trigger-header .mk-header-social a,
#mk-header:not(.header-structure-vertical).sticky-trigger-header .mk-margin-header-burger,
#mk-header:not(.header-structure-vertical).sticky-trigger-header .mk-header-wpml-ls,
#mk-header:not(.header-structure-vertical).sticky-trigger-header .mk-header-wpml-ls a {
    height: 80px;
    line-height: 80px;
}

.mk-header-logo,
.mk-header-logo a {
    height: 80px;
    line-height: 80px;
}

#mk-header:not(.header-structure-vertical).sticky-trigger-header .mk-header-logo,
#mk-header:not(.header-structure-vertical).sticky-trigger-header .mk-header-logo a {
    height: 80px;
    line-height: 80px;
}

.vertical-expanded-state #mk-header.header-structure-vertical,
.vertical-condensed-state #mk-header.header-structure-vertical:hover {
    width: 280px !important;
}

#mk-header.header-structure-vertical {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.vertical-condensed-state .mk-vertical-menu {
    width: 220px;
}

.theme-main-wrapper.vertical-expanded-state #theme-page > .mk-main-wrapper-holder,
.theme-main-wrapper.vertical-expanded-state #theme-page > .mk-page-section,
.theme-main-wrapper.vertical-expanded-state #theme-page > .wpb_row,
.theme-main-wrapper.vertical-expanded-state #mk-page-title,
.theme-main-wrapper.vertical-expanded-state #mk-footer {
    padding-left: 280px;
}

@media handheld,
only screen and (max-width:1130px) {
    .theme-main-wrapper.vertical-expanded-state #theme-page > .mk-main-wrapper-holder,
    .theme-main-wrapper.vertical-expanded-state #theme-page > .mk-page-section,
    .theme-main-wrapper.vertical-expanded-state #theme-page > .wpb_row,
    .theme-main-wrapper.vertical-expanded-state #mk-page-title,
    .theme-main-wrapper.vertical-expanded-state #mk-footer,
    .theme-main-wrapper.vertical-condensed-state #theme-page > .mk-main-wrapper-holder,
    .theme-main-wrapper.vertical-condensed-state #theme-page > .mk-page-section,
    .theme-main-wrapper.vertical-condensed-state #theme-page > .wpb_row,
    .theme-main-wrapper.vertical-condensed-state #mk-page-title,
    .theme-main-wrapper.vertical-condensed-state #mk-footer {
        padding-left: 0px;
    }
}

.theme-main-wrapper.vertical-header #mk-page-title,
.theme-main-wrapper.vertical-header #mk-footer,
.theme-main-wrapper.vertical-header #mk-header,
.theme-main-wrapper.vertical-header #mk-header.header-structure-vertical .mk-vertical-menu {
    box-sizing: border-box;
}

@media handheld,
only screen and (min-width:1130px) {
    .vertical-condensed-state #mk-header.header-structure-vertical:hover ~ #theme-page > .mk-main-wrapper-holder,
    .vertical-condensed-state #mk-header.header-structure-vertical:hover ~ #theme-page > .mk-page-section,
    .vertical-condensed-state #mk-header.header-structure-vertical:hover ~ #theme-page > .wpb_row,
    .vertical-condensed-state #mk-header.header-structure-vertical:hover ~ #mk-page-title,
    .vertical-condensed-state #mk-header.header-structure-vertical:hover ~ #mk-footer {
        padding-left: 280px;
    }
}

.mk-header-logo,
.mk-header-logo a {
    margin-top: 0px;
    margin-bottom: 0px;
}

#mk-header:not(.header-structure-vertical).sticky-trigger-header .mk-header-logo,
#mk-header:not(.header-structure-vertical).sticky-trigger-header .mk-header-logo a {
    margin-top: 0px;
    margin-bottom: 0px;
}

#mk-main-navigation > ul > li.menu-item > a {
    padding: 0 17px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: ;
}

.mk-header-logo.mk-header-logo-center {
    padding: 0 17px;
}

.mk-vertical-menu > li.menu-item > a {
    padding: 0 17px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: ;
}

.mk-vertical-menu li.menu-item > a,
.mk-vertical-menu .mk-header-logo {
    text-align: left;
}

.main-navigation-ul > li ul.sub-menu li.menu-item a.menu-item-link {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
}

.mk-vertical-menu > li ul.sub-menu li.menu-item a {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
}

#mk-main-navigation > ul > li.menu-item > a,
.mk-vertical-menu li.menu-item > a {
    color: #ffffff;
    background-color: ;
}

#mk-main-navigation > ul > li.current-menu-item > a,
#mk-main-navigation > ul > li.current-menu-ancestor > a,
#mk-main-navigation > ul > li.menu-item:hover > a {
    color: #ffffff;
    background-color: #636363;
}

.mk-vertical-menu > li.current-menu-item > a,
.mk-vertical-menu > li.current-menu-ancestor > a,
.mk-vertical-menu > li.menu-item:hover > a,
.mk-vertical-menu ul li.menu-item:hover > a {
    color: #ffffff;
}

#mk-main-navigation > ul > li.menu-item > a:hover {
    color: #ffffff;
    background-color: #636363;
}

.dashboard-trigger,
.res-nav-active,
.mk-header-social a,
.mk-responsive-cart-link {
    color: #ffffff;
}

.dashboard-trigger:hover,
.res-nav-active:hover {
    color: #ffffff;
}

#mk-main-navigation ul li.no-mega-menu ul,
#mk-main-navigation > ul > li.has-mega-menu > ul,
.header-searchform-input .ui-autocomplete,
.mk-shopping-box,
.shopping-box-header > span,
#mk-main-navigation ul li.mk-header-wpml-ls > ul {
    background-color: ;
}

#mk-main-navigation ul ul.sub-menu a.menu-item-link,
#mk-main-navigation ul li.mk-header-wpml-ls > ul li a {
    color: #ffffff;
}

#mk-main-navigation ul ul li.current-menu-item > a.menu-item-link,
#mk-main-navigation ul ul li.current-menu-ancestor > a.menu-item-link {
    color: #ffffff;
    background-color: rgba(187, 147, 47, 0.85) !important;
}

.header-searchform-input .ui-autocomplete .search-title,
.header-searchform-input .ui-autocomplete .search-date,
.header-searchform-input .ui-autocomplete i {
    color: #ffffff;
}

.header-searchform-input .ui-autocomplete i,
.header-searchform-input .ui-autocomplete img {
    border-color: #ffffff;
}

.header-searchform-input .ui-autocomplete li:hover i,
.header-searchform-input .ui-autocomplete li:hover img {
    border-color: #ffffff;
}

#mk-main-navigation .megamenu-title,
.mk-mega-icon,
.mk-shopping-box .mini-cart-title,
.mk-shopping-box .mini-cart-button {
    color: #ffffff;
}

#mk-main-navigation ul ul.sub-menu a.menu-item-link:hover,
.header-searchform-input .ui-autocomplete li:hover,
#mk-main-navigation ul li.mk-header-wpml-ls > ul li a:hover {
    color: #ffffff;
    background-color: rgba(187, 147, 47, 0.85) !important;
}

.header-searchform-input .ui-autocomplete li:hover .search-title,
.header-searchform-input .ui-autocomplete li:hover .search-date,
.header-searchform-input .ui-autocomplete li:hover i,
#mk-main-navigation ul ul.sub-menu a.menu-item-link:hover i {
    color: #ffffff;
}

.header-searchform-input input[type=text],
.dashboard-trigger,
.header-search-icon,
.header-search-close,
.header-wpml-icon {
    color: #ffffff;
}

.header-search-icon {
    color: #ffffff;
}

.mk-burger-icon div {
    background-color: #ffffff;
}

.header-search-icon:hover {
    color: #ffffff;
}

.responsive-nav-container,
.responsive-shopping-box {
    background-color: ;
}

.mk-responsive-nav a,
.mk-responsive-nav .has-mega-menu .megamenu-title {
    color: #ffffff;
    background-color: rgba(99, 99, 99, 0.85);
}

.mk-responsive-nav li a:hover {
    color: #ffffff;
    background-color: rgba(187, 147, 47, 0.85);
}

.mk-header-toolbar {
    border: none;
    border-color: transparent;
}

.mk-header-toolbar span {
    color: #000000;
}

.mk-header-toolbar span i {
    color: #000000;
}

.mk-header-toolbar a {
    color: #bb932f;
}

.mk-header-toolbar a:hover {
    color: #e2b538;
}

.mk-header-toolbar a {
    color: #bb932f;
}

.mk-header-toolbar .mk-header-toolbar-social li a {
    color: #ffffff;
}

.mk-header-toolbar .mk-header-toolbar-social li a:hover {
    color: #bb932f;
}

@media handheld,
only screen and (max-width: 1230px) {
    .dashboard-trigger.res-mode {
        display: block !important;
    }
    .dashboard-trigger.desktop-mode {
        display: none !important;
    }
}

@media handheld,
only screen and (max-width: 1130px) {
    #mk-header.sticky-header,
    .mk-secondary-header,
    .transparent-header-sticky {
        position: relative !important;
        left: auto !important;
        right: auto!important;
        top: auto !important;
    }
    #mk-header:not(.header-structure-vertical).put-header-bottom,
    #mk-header:not(.header-structure-vertical).put-header-bottom.sticky-trigger-header,
    #mk-header:not(.header-structure-vertical).put-header-bottom.header-offset-passed,
    .admin-bar #mk-header:not(.header-structure-vertical).put-header-bottom.sticky-trigger-header {
        position: relative;
        bottom: auto;
    }
    .mk-margin-header-burger {
        display: none;
    }
    .main-navigation-ul li.menu-item,
    .mk-vertical-menu li.menu-item,
    .main-navigation-ul li.sub-menu,
    .sticky-header-padding,
    .secondary-header-space {
        display: none !important;
    }
    .vertical-expanded-state #mk-header.header-structure-vertical,
    .vertical-condensed-state #mk-header.header-structure-vertical {
        width: 100% !important;
        height: auto !important;
    }
    .vertical-condensed-state #mk-header.header-structure-vertical:hover {
        width: 100% !important;
    }
    .header-structure-vertical .mk-vertical-menu {
        position: relative;
        padding: 0;
        width: 100%;
    }
    .header-structure-vertical .mk-header-social.inside-grid {
        position: relative;
        padding: 0;
        width: auto;
        bottom: inherit !important;
        height: 80px;
        line-height: 80px;
        float: right !important;
        top: 0 !important;
    }
    /*.mk-header-logo, .mk-header-logo a {height:80px;line-height:80px;}#menu-main-navigation .mk-header-logo {margin-bottom:20px;}.mk-vertical-menu .responsive-nav-link {height:120px !important;}.mk-vertical-header-burger {display:none!important;}.header-structure-vertical .mk-header-social.inside-grid {height:120px;line-height:120px;}*/
    .vertical-condensed-state .header-structure-vertical .mk-vertical-menu>li.mk-header-logo {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        opacity: 1!important;
        position: relative!important;
        left: 0!important;
    }
    .vertical-condensed-state .header-structure-vertical .mk-vertical-header-burger {
        opacity: 0 !important;
    }
    .mk-header-logo {
        padding: 0 !important;
    }
    .mk-vertical-menu .responsive-nav-link {
        float: left !important;
        height: 80px;
    }
    .mk-vertical-menu .responsive-nav-link i {
        height: 80px;
        line-height: 80px;
    }
    .mk-vertical-menu .mk-header-logo {
        float: left !important
    }
    .header-search-icon i,
    .mk-cart-link i,
    .mk-responsive-cart-link i {
        padding: 0 !important;
        margin: 0 !important;
        border: none !important;
    }
    .header-search-icon,
    .mk-cart-link,
    .mk-responsive-cart-link {
        margin: 0 8px !important;
        padding: 0 !important;
    }
    .mk-header-logo {
        margin-left: 20px !important;
        display: inline-block !important;
    }
    .main-navigation-ul {
        text-align: center !important;
    }
    .responsive-nav-link {
        display: inline-block !important;
    }
    .mk-shopping-box {
        display: none !important;
    }
    .mk-shopping-cart {
        display: none !important;
    }
    .mk-responsive-shopping-cart {
        display: inline-block !important;
    }
}

#mk-header.transparent-header {
    position: absolute;
    left: 0;
}

.mk-boxed-enabled #mk-header.transparent-header {
    left: inherit;
}

.add-corner-margin .mk-boxed-enabled #mk-header.transparent-header {
    left: 0;
}

.transparent-header {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.transparent-header.transparent-header-sticky {
    opacity: 1;
    left: auto !important;
}

.transparent-header #mk-main-navigation ul li .sub {
    border-top: none;
}

.transparent-header .mk-cart-link:hover,
.transparent-header .mk-responsive-cart-link:hover,
.transparent-header .dashboard-trigger:hover,
.transparent-header .res-nav-active:hover,
.transparent-header .header-search-icon:hover {
    opacity: 0.7;
}

.transparent-header .header-searchform-input input[type=text] {
    background-color: transparent;
}

.transparent-header.light-header-skin .dashboard-trigger,
.transparent-header.light-header-skin .dashboard-trigger:hover,
.transparent-header.light-header-skin .res-nav-active,
.transparent-header.light-header-skin #mk-main-navigation > ul > li.menu-item > a,
.transparent-header.light-header-skin #mk-main-navigation > ul > li.current-menu-item > a,
.transparent-header.light-header-skin #mk-main-navigation > ul > li.current-menu-ancestor > a,
.transparent-header.light-header-skin #mk-main-navigation > ul > li.menu-item:hover > a,
.transparent-header.light-header-skin #mk-main-navigation > ul > li.menu-item > a:hover,
.transparent-header.light-header-skin .res-nav-active:hover,
.transparent-header.light-header-skin .header-searchform-input input[type=text],
.transparent-header.light-header-skin .header-search-icon,
.transparent-header.light-header-skin .header-search-close,
.transparent-header.light-header-skin .header-search-icon:hover,
.transparent-header.light-header-skin .mk-cart-link,
.transparent-header.light-header-skin .mk-responsive-cart-link,
.transparent-header.light-header-skin .mk-header-social a,
.transparent-header.light-header-skin .mk-header-wpml-ls a {
    color: #fff !important;
}

.transparent-header.light-header-skin .mk-burger-icon div {
    background-color: #fff;
}

.transparent-header.light-header-skin .mk-light-logo {
    display: inline-block !important;
}

.transparent-header.light-header-skin .mk-dark-logo {
    display: none !important;
}

.transparent-header.light-header-skin.transparent-header-sticky .mk-light-logo {
    display: none !important;
}

.transparent-header.light-header-skin.transparent-header-sticky .mk-dark-logo {
    display: inline-block !important;
}

.transparent-header.dark-header-skin .dashboard-trigger,
.transparent-header.dark-header-skin .dashboard-trigger:hover,
.transparent-header.dark-header-skin .res-nav-active,
.transparent-header.dark-header-skin #mk-main-navigation > ul > li.menu-item > a,
.transparent-header.dark-header-skin #mk-main-navigation > ul > li.current-menu-item > a,
.transparent-header.dark-header-skin #mk-main-navigation > ul > li.current-menu-ancestor > a,
.transparent-header.dark-header-skin #mk-main-navigation > ul > li.menu-item:hover > a,
.transparent-header.dark-header-skin #mk-main-navigation > ul > li.menu-item > a:hover,
.transparent-header.dark-header-skin .res-nav-active:hover,
.transparent-header.dark-header-skin .header-searchform-input input[type=text],
.transparent-header.dark-header-skin .header-search-icon,
.transparent-header.dark-header-skin .header-search-close,
.transparent-header.dark-header-skin .header-search-icon:hover,
.transparent-header.dark-header-skin .mk-cart-link,
.transparent-header.dark-header-skin .mk-responsive-cart-link,
.transparent-header.dark-header-skin .mk-header-social a,
.transparent-header.dark-header-skin .mk-header-wpml-ls a {
    color: #444 !important;
}

.transparent-header.dark-header-skin .mk-burger-icon div {
    background-color: #444;
}

.mk-skin-color,
.blog-categories a,
.blog-categories,
.rating-star .rated,
.widget_testimonials .testimonial-position,
.testimonial-company,
.portfolio-similar-meta .cats,
.entry-meta .cats a,
.search-meta span a,
.search-meta span,
.single-share-trigger:hover,
.single-share-trigger.mk-toggle-active,
.project_content_section .project_cats a,
.mk-love-holder i:hover,
.blog-comments i:hover,
.comment-count i:hover,
.widget_posts_lists li .cats a,
.mk-employeee-networks li a:hover,
.mk-tweet-shortcode span a,
.classic-hover .portfolio-permalink:hover i,
.mk-pricing-table .mk-icon-star,
.mk-process-steps.dark-skin .step-icon,
.mk-edge-next,
.mk-edge-prev,
.prev-item-caption,
.next-item-caption,
.mk-employees.column_rounded-style .team-member-position,
.mk-employees.column-style .team-member-position,
.mk-event-countdown.accent-skin .countdown-timer,
.mk-event-countdown.accent-skin .countdown-text,
.mk-box-text:hover i,
.mk-process-steps.light-skin .mk-step:hover .step-icon,
.mk-process-steps.light-skin .active-step-item .step-icon,
.blog-modern-entry .blog-categories,
.woocommerce-thanks-text {
    color: #bb932f;
}

.mk-love-holder .item-loved i,
.widget_posts_lists .cats a,
#mk-breadcrumbs a:hover,
.widget_social_networks a.light,
.widget_posts_tabs .cats a {
    color: #bb932f !important;
}

a:hover,
.mk-tweet-shortcode span a:hover {
    color: #e2b538;
}


/* Main Skin Color : Background-color Property */

#wp-calendar td#today,
div.jp-play-bar,
.mk-header-button:hover,
.next-prev-top .go-to-top:hover,
.wide-eye-portfolio-item .portfolio-meta .the-title,
.mk-portfolio-carousel .portfolio-meta:before,
.meta-image.frame-grid-portfolio-item .portfolio-meta .the-title,
.masonry-border,
.author-social li a:hover,
.slideshow-swiper-arrows:hover,
.mk-clients-shortcode .clients-info,
.mk-contact-form-wrapper .mk-form-row i.input-focused,
.mk-login-form .form-row i.input-focused,
.comment-form-row i.input-focused,
.widget_social_networks a:hover,
.mk-social-network a:hover,
.blog-masonry-entry .post-type-icon:hover,
.list-posttype-col .post-type-icon:hover,
.single-type-icon,
.demo_store,
.add_to_cart_button:hover,
.mk-process-steps.dark-skin .mk-step:hover .step-icon,
.mk-process-steps.dark-skin .active-step-item .step-icon,
.mk-process-steps.light-skin .step-icon,
.mk-social-network a.light:hover,
.widget_tag_cloud a:hover,
.widget_categories a:hover,
.edge-nav-bg,
.gform_wrapper .button:hover,
.mk-event-countdown.accent-skin li:before,
.masonry-border,
.mk-gallery.thumb-style .gallery-thumb-lightbox:hover,
.fancybox-close:hover,
.fancybox-nav span:hover,
.blog-scroller-arrows:hover,
ul.user-login li a i,
.mk-isotop-filter ul li a.current,
.mk-isotop-filter ul li a:hover {
    background-color: #bb932f;
}

::-webkit-selection {
    background-color: #bb932f;
    color: #fff;
}

::-moz-selection {
    background-color: #bb932f;
    color: #fff;
}

::selection {
    background-color: #bb932f;
    color: #fff;
}

.next-prev-top .go-to-top,
.mk-contact-form-wrapper .text-input:focus,
.mk-contact-form-wrapper .mk-textarea:focus,
.widget .mk-contact-form-wrapper .text-input:focus,
.widget .mk-contact-form-wrapper .mk-textarea:focus,
.mk-contact-form-wrapper .mk-form-row i.input-focused,
.comment-form-row .text-input:focus,
.comment-textarea textarea:focus,
.comment-form-row i.input-focused,
.mk-login-form .form-row i.input-focused,
.mk-login-form .form-row input:focus,
.mk-event-countdown.accent-skin li {
    border-color: #bb932f!important;
}

#sub-footer {
    border-top: 1px solid #bb932f;
}

.mk-divider .divider-inner i {
    background-color: #ffffff;
}

.mk-loader {
    border: 2px solid #bb932f;
}

.alt-title span,
.single-post-fancy-title span,
.portfolio-social-share,
.woocommerce-share ul {
    background-color: #ffffff;
}

.blog-button p::after {
    position: absolute;
    left: 0;
    right: 0;
}