
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

* { box-sizing: border-box; }
.video-background {
  background: transparent;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
  position: fixed;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: black;
  mix-blend-mode: lighten;
  opacity: .5;
}

#vidtop-content {
  top: 0;
  color: #fff;
}

.hero .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);   
  width: 100%;
  font-size: .75em;
}

.whitebackground {
  background-color: white;
  z-index: 100;
  position: relative;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}



/* GLOBAL STYLES
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
  font-family: "proxima-nova", "Montserrat", sans-serif;
  font-weight: 300;
}



body {
/*  padding-bottom: 40px;
*/  color: #5a5a5a;
  font-family: "proxima-nova", "Montserrat", sans-serif;
  font-weight: 300;

}

h1 {
  font-family:"Playfair Display", Georgia, serif;
}


h2 {
  font-weight: 100;
/*  font-size:.5em;
  text-transform: uppercase;
  letter-spacing: .9;*/
  
}

h3 {
    margin-top: 1em;
    font-size: 1.2em;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: .1em;
}

h4 {
  font-size: 1.2em;
  margin-top: .25em;
}

blockquote {
    border: 0;
    font-size: inherit;
}

blockquote h2 {
  font-family: "Playfair Display";
  font-style: italic;
  font-size: 1.75em;
  letter-spacing: .01em;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-default {
  background-color: white;
}


/*Styling Header Jumbotron*/

.hero {
  position: relative;
  overflow: hidden;
  color: white;
  background-color: transparent;
  height: 66vh;
  margin-bottom: 0;
  z-index: 100;
}

.hero p {
  font-size: 1.5em;
  padding-bottom: 1em;
  line-height: 1.35em;
  font-weight: 300;
}

/* Hero jumbotron background with overlays */

.hero:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

}

.title {
  position: relative;
  overflow: hidden;
  color: white;
  text-align: center;
  padding-right: 3em;
  padding-left: 3em;
}

.title h1 {
  font-family: "Playfair Display", "Bodoni", "Georgia", serif;
  font-style: italic;
  font-weight: 600;

  padding-bottom: .25em;
}

.title h2 {
  font-weight: 300;
  font-size: 1.5em;
  padding-bottom: 1em;
  line-height: 1.35em;
  text-transform: uppercase;
  letter-spacing: .1em
}



/* Hero jumbotron background with overlays */

.title:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

}




/* Features in About section */



.featurette-image {
    height: 300px;
    overflow: hidden;
}

.featurette-image img {
  width: 100%;

}

.rounded-circle {
  border-radius: 50%;
}



/*Products content div*/

#products {
  color: white;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 106, 167, 0.48);
}

#products ul {
  padding-bottom: 2em;
}

.jumbotron h1 {
  font-size: 36px;
}

.jumbotron .lead {
  font-size: 21px;
}

.jumbotron p {
  font-size: inherit;
}

/*Products jumbotron background with overlays*/

#stories:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
   background-image: url(../img/distantwoman.png);
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

#stories {
  position: relative;
  background-color: transparent;
  color: black;
  text-shadow: 2px 2px 8px #ffffff;

}

#supporters:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
   background-image: url(../img/walkers.png);
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: left;
    background-position-y: bottom;
    background-color: #fff;
}

#supporters {
  position: relative;
  background-color: transparent;
  min-height: 50vh;
}
/*Styling thumbnails in products to be centered and spaced*/


.thumbnail {
  border:0;
  text-align: center;
  background-color: transparent;

}


/*Styling Awards List*/
#awards ul {
  display: inline-block;
  text-align: center;
  -webkit-padding-start: 0px;
  padding-bottom: 15px;
  list-style: none;
  font-size: 1.2em;
}

#awards li {
  padding-bottom: .5em;
}

#awards em {
  font-weight: bolder;
  font-style: normal;
}


/*Spacing*/

.invisible-divider {
    margin: 80px 0;
    border: 0;
    border-top: 0px solid #eee;
}

.container.marketing {
  padding-top: 30px;
  padding-bottom: 30px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  background-color: #f5f5f5;
  text-align: center;
}

.footer img {
  margin-top: 30px;
  margin-bottom: 20px;
}

/*body {
   Margin bottom by footer height 
  margin-bottom: 120px;
}*/


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 700px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
.navbar-padding {
    padding-top: 50px;
}


  /* making assessments modal 3 cols */

  #collapse1 ul {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    padding-bottom: 1.5em;
  }

  .list-group-item {
    -webkit-column-break-inside: avoid;
    border-bottom: solid .5em transparent;
  }

  .item:before {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .hero .container {
    max-width: 798px;
    font-size: 1em;
  }

  .hero h1 {
    font-size: 63px;
  }
.row {
  padding-top: 30px;
}




  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }


}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 35px;
  }
}